files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/collectstatic ]
      then
        rm /tmp/collectstatic
        sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/airbnb/bin/python /srv/airbnb/django_app/manage.py collectstatic --noinput --settings=config.settings.deploy
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_makemigrations.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/makemigrations ]
      then
        rm /tmp/makemigrations
        sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/airbnb/bin/python /srv/airbnb/django_app/manage.py makemigrations --noinput --settings=config.settings.deploy
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]
      then
        rm /tmp/migrate
        sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/airbnb/bin/python /srv/airbnb/django_app/manage.py migrate --noinput --settings=config.settings.deploy
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/04_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]
      then
        rm /tmp/createsu
        sudo docker exec `sudo docker ps --no-trunc -q` /root/.pyenv/versions/airbnb/bin/python /srv/airbnb/django_app/manage.py createsu --settings=config.settings.deploy
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/05_nginx_settings.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/nginx_settings ]
      then
        rm /tmp/nginx_settings
        sudo touch /etc/nginx/conf.d/proxy.conf
        sudo echo "client_max_body_size 20M;" > /etc/nginx/conf.d/proxy.conf
        sudo service nginx restart
      fi
